doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title English: Amazing adventures of misterious creatures existed ever
    script .
      const path_play = 'play';
      const path_build = 'build';
      var full_path = '';
      if (location.href.indexOf('/'+path_play)!==-1){
        full_path += '/' + path_play; // /play
      }
      if (location.href.indexOf('/'+path_build)!==-1){
        full_path += '/' + path_build; // /play/build
      }
      if (full_path) {
        // /play/build/
        document.write('<base href="'+full_path+'/" />');
      }
    link(rel='stylesheet', type='text/css', href='styles/libs/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    script(src='scripts/libs/jquery.min.js')
    script(src='scripts/libs/underscore-min.js')
    script(src='scripts/libs/backbone-min.js')
    script(src='scripts/libs/require.js')
  body
    main
    footer
      mixin links(hash, text, stop)
        a(href=hash) #{text} 
        if ! stop
          . 
            &nbsp;
            | 
      +links('#', 'Home')
      +links('#black_parody', 'Black Parody')
      +links('#cabalistic_bewitching_hero', 'Cabalistic Bewitching Hero')
      +links('#joshua_world', 'Joshua Wold')
      +links('#unbalanced', 'Unbalanced', 'stop')
    script(src='scripts/app.js', data-main='app')