doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title English: Amazing adventures of misterious creatures existed ever
    script.
      const path_plays = 'plays';
      const path_build = 'build';
      var full_path = '';
      if (location.href.indexOf('/'+path_plays)!==-1){
        full_path += '/' + path_plays; // /plays
      }
      if (location.href.indexOf('/'+path_build)!==-1){
        full_path += '/' + path_build; // /plays/build
      }
      if (full_path) {
        // /plays/build/
        document.write('<base href="'+full_path+'/" />');
      }
    link(rel='stylesheet', type='text/css', href='styles/libs/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    script(src='scripts/libs/jquery.min.js')
    script(src='scripts/libs/underscore-min.js')
    script(src='scripts/libs/backbone-min.js')
    script(src='scripts/libs/require.js')
  body
    main
    footer
      mixin links(hash, text, stop)
        a(href=hash) #{text} 
        if ! stop
          . 
            &nbsp;
            | 
      +links('#', 'Home')
      +links('#how_to_use', 'How to use')
      +links('#contacts', 'Contacts')
      +links('#facebook', 'Facebook', 'stop')
    script(src='scripts/app.js', data-main='app')
    script(src='scripts/common.js')