doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title English: Amazing adventures of misterious creatures existed ever
    link(rel='stylesheet', type='text/css', href='styles/libs/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    script(src='scripts/libs/jquery.min.js')
    script(src='scripts/libs/underscore-min.js')
    script(src='scripts/libs/backbone-min.js')
    script(src='scripts/libs/require.js')
  body
    main
    footer
      a(href='#') Home 
      . | 
      a(href='#black_parody') black_parody
      . | 
      a(href='#cabalistic_bewitching_hero') cabalistic_bewitching_hero
    script(src='scripts/app.js', data-main='app')