
    /*#header1 {
        margin-left: 25%;
        margin-right: 28%;
        background-color: azure;
        border: 1px solid;
    }
    #header1 > h1 {
        margin-top: 2%;
        margin-left: 4%;
        margin-bottom: 2%;
        color: indigo;
        font-size: 66px;
    } */
    #beginning {
        overflow: auto;
    }
    #beginning > * {
        border: 1px solid;
        float: left;
        margin-left: 4px;
    }
    #mainImage {
        width: 55%;
    }
    #mainImage > img {
        width: 100%;
    }
    #littleImages > img {
        width: 98%;
        margin: 1%;
    }
    #preview_and_enter {
        width:32%;
        background-color: lightblue;
        color: mediumblue;
        font-family: "Yu Gothic UI";
    }
    #preview {
        font-size: 16px;
        padding: 20px 18px 1px 18px;
    }
    #how_to_open_plays {
        font-size: 16px;
        color: blue;
        text-decoration: underline;
    }
    #enter {
        font-size: 26px;
        width: 98%;
        margin-left: 1%;
        margin-top: 3%;
        margin-bottom: 2%;
    }
    #enter > * {
        width: 85%;
        margin-left: 7%;
    }
    #instruction > p {
        margin: 1%;
        font-size: 16px;
    }
    #instruction > img {
        width: 87%;
        margin: 1%;
    }
    #buttonsToEnter > button {
        font-size: 16px;
        padding: 4px;
        margin-top: 1%;
    }
    #littleImages {
        width: 10%;
        padding: 3px;
    }
    #littleImages > img {
        width: 100%;
    }
    #contentlist {
        float: left;
        width: 15%;
        border-top: 4px solid #345693;
        background-color: rgba(0, 087, 990, 0.30);
    }
   .items-paragraphs {
       width: 78%;
       margin-left: 12%;
   }
    #contentlist > h2 {
        margin-left: 7%;
        padding: 6px;
        width: 80%;
    }
   #buttonsToEnter2 {
        width: 94%;
        margin-left: 2%;
        margin-top: 4%;
        border: 1px solid;
    }
    #buttonsToEnter2 > button {
        font-size: 18px;
        padding: 11px;
        background-color: darkslateblue;
         color: gainsboro;
         margin-left: 7%;
         margin-top: 5%;
     }
     #listOfParts > p {
         font-size: 22px;
         font-weight: bold;
         margin-left: 10%;
         width: 60%;
         padding-top: 8px;
         padding-left: 30px;
         padding-bottom: 8px;
         border: 2px solid darkslategray;
         /*background-color: rgba(0, 120, 201, 0.25); */
         border-radius: 5px;
     }
     .mouseOnItem1 {
         background-color: indigo;
         color: darkturquoise;
         border: 2px solid skyblue;
     }
     .mouseOnItem2 {
         background-color: maroon;
         opacity: 0.99;
         color: cornsilk;
         border: 2px solid khaki;
     }
     #header {
         margin-left: 7%;
     }
     #toChooseRoles {
         margin-left: 8%;
         width: 50%;
         padding-top: 7px;
         padding-left: 6px;
         margin-bottom: 4%;
         margin-top: 2%;
     }
     #toChooseRoles > h4 {
         font-size: 24px;
         margin-left: 5%;
     }
     #toChooseRoles p {
         font-size: 22px;
         margin-left: 7%;
     }
     #toChooseRoles p input {
         height: 18px;
     }
     .labels_for_roles {
         color: darkviolet;
         font-weight: bold;
     }
     #top_of_play {
         overflow: auto;
         margin-left: 8%;
         margin-bottom: 2%;
     }
     #top_of_play > div {
         margin-left: 2%;
         border: 1px solid;
         float: left;
     }
     #top_of_play > div > h2 {
         margin-left: 1%;;
         font-size: 30px;
         width: 100%;
         padding-left: 4px;
         padding-right: 9px;
     }
     #buttons {
         background-color: midnightblue;
     }
     #top_of_play > div > input {
         font-size: 22px;
         font-weight: bold;
         border-radius: 5px;
         padding: 6px;
         margin-top: 10px;
         margin-left: 5px;
         background-color: lightcyan;
     }
     #paintWordsFromVocab {
         border-radius: 14px;
         width: 30px;
         height: 30px;
         float: left;
         margin-left: 3%;
         margin-top: 4%;
         padding: 14px;
         background-color: midnightblue;
         color: powderblue;
         text-decoration: underline;
     }
     #paintreplics {
         margin-bottom: 2%;
         margin-left: 7%;
         background-color: cyan;
         color: darkslateblue;
         font-size: 18px;
         padding: 9px;
     }
     #forLoadingPart {
         float: left;
         width: 84%;
         border-top: 4px solid #345693;
     }
     .addStylesForContent {
         border-left: 3px solid #345693;
     }
     #forLoadingPart img {
         width: 90%;
         margin-left: 7%;
     }
     #areaForPart > h2 {
         margin-left: 7%;
         margin-bottom: 4%;
         font-family: Gadugi;
         font-size: 28px;
     }
     #areaForPart > p {
         font-size: 22px;
         font-family: Gadugi;
         margin-left: 4%;
         margin-right: 5%;
     }
     #areaForPart img {
         width: 85%;
         margin-left: 8%;
         margin-bottom: 10px;
     }
     .authorwords {
         font-size: 20px;
         margin-right: 4%;
         margin-left: 3%;
         margin-bottom: 1%;
        /* margin-top: 2%; */
    }
    .authorwords > h4 {
        margin-bottom: 6px;
        margin-top: 14px;
        margin-left: 5%;
        font-size: 22px;
    }
    .authorwords > p {
        margin-top: 14px;
        margin-left: 3%;
        margin-right: 10px;
        font-size: 22px;
    }

    .words_of_char {
       margin-right: 4%;
        margin-left: 3%;
        margin-bottom: 1%;
        border: 2px solid;
        border-radius: 7px;
        padding-top: 5px;
    }
    .words_of_char > h4 {
        margin-left: 5%;
        margin-top: 9px;
        margin-bottom: 2%;
        font-size: 22px;
    }
    .words_of_char > p {
        margin-left: 3%;
        margin-right: 2%;
        margin-top: 2%;
        font-size: 22px;
    }
    .paintedWordsFromVocabulary {
        background-color: indigo;
        color: aliceblue;
        padding: 4px;
    }
    #fortypes {
        font-size: 18px;
    }
    .paintedreplicsofchar {
        background-image: url("../images/textures/папирус.jpg");
    }
    .paintedauthorreplics {
        border: 3px dashed darkviolet;
        border-radius: 4px;
        background-image: url("../images/textures/букет.jpg");
    }