extends ../components/layout
block vars
    - var header_text = 'A Cabalistic betwitching hero story'
    - var template_id = 'cabalistic_betwitching_hero'
block contents
    p Such a narrative has been never told before!