extends ../components/layout
block vars
    - var header_text = 'Home'
    - var template_id = 'default'
block contents
    #home
        h1 <%= greeting  %>
        h4 <%= subheader %>
        section#asides
            mixin aside(num, link)