extends ../components/layout
block vars
    - var header_text = 'Home'
    - var template_id = 'default'
block contents
    #home
        h1 <%= greeting  %>
        h4 <%= subheader %>
        section#asides
            mixin aside(num, link)
                aside
                    a(href='/#'+link)
                        h4 <%= header#{num} %>
                        p <%= text#{num} %>
            +aside(1, 'cabalistic_bewitching_hero')
            +aside(2, 'black_parody')
            +aside(3, 'joshua_world')
            +aside(4, 'unbalanced')