extends ../components/layout
block vars
    - var header_text = 'Home'
    - var template_id = 'default'
block contents
    h1 <%= greeting  %>
    h4 <%= subheader %>
    section#asides
      aside
        h4 <%= header1 %>
      aside
        h4 <%= header2 %>