#prime_wrapper_div {
    width: 94%;
    margin-left: 3%;
    margin-top: 2.5%;
    border: 2px solid;
    background-image: url("../images/textures/buket.jpg");
}

#prime_wrapper_div > p {
    font-size: 20px;
    font-family: "Yu Gothic UI";
    padding: 6px;
    width: 67%;
    /*border: 1px solid; */
    margin-left: 12%;
    margin-top: 1%;
}

#divInPrimary {
    width: 96%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 0.5%;
    overflow: auto;
}

#divInPrimary > div {
    width: 48%;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 0.5%;
    float: left;
    border: 2px solid steelblue;
    border-radius: 10px;
    background-color: lightcyan;
    overflow: auto;
}

#divInPrimary > div > h2 {
    margin-left: 9%;
    margin-top: 2%;
    width: 75%;
    border: 1px solid darkblue;
    padding: 6px;
    font-size: 24px;
}
.mainPart {
    overflow: auto;
    border: 1px solid dodgerblue;
    width: 97%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.mainPart > div {
    margin-top: 1%;
}

.mainPart .image {
    float: left;
    width: 21%;
    margin-left: 1%;
    margin-bottom: 4%;
}

.image > img {
    width: 100%;
}

.TextAndEnter {
    float: left;
    width: 70%;
    margin-left: 1%;
    margin-bottom: 2%;
    border: 1px solid darkslategrey;
    padding: 5px;
}

.preview {
    font-size: 18px;
}

.entersToSecondary {
    border: 1px solid;
    font-size: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 42%;
}