    #primary {
        width: 94%;
        margin-left: 3%;
        margin-top: 2.5%;
        border: 2px solid;
        background-image: url("../images/textures/buket.jpg");
    }

    #primary > p {
        font-size: 20px;
        font-family: "Yu Gothic UI";
        padding: 6px;
        width: 67%;
        /*border: 1px solid; */
        margin-left: 12%;
        margin-top: 1%;
    }

    #divInPrimary {
        width: 96%;
        margin-left: 2%;
        margin-top: 1%;
        margin-bottom: 0.5%;
        overflow: auto;
    }

    #divInPrimary > div {
        width: 48%;
        margin-left: 1%;
        margin-bottom: 1%;
        margin-top: 0.5%;
        float: left;
        border: 2px solid steelblue;
        border-radius: 10px;
        background-color: lightcyan;
        overflow: auto;
    }

    #divInPrimary > div > h2 {
        margin-left: 9%;
        margin-top: 2%;
        width: 75%;
        border: 1px solid darkblue;
        padding: 6px;
        font-size: 24px;
    }
    .collapsed{
        height: 0;
        overflow: hidden;
    }
    .mainPart {
        overflow: auto;
        border: 1px solid dodgerblue;
        width: 97%;
        margin-left: 2%;
        margin-top: 1%;
        margin-bottom: 2%;
    }

    .mainPart > div {
        margin-top: 1%;
    }

    .mainPart .image {
        float: left;
        width: 21%;
        margin-left: 1%;
        margin-bottom: 4%;
    }

    .image > img {
        width: 100%;
    }

    .TextAndEnter {
        float: left;
        width: 70%;
        margin-left: 1%;
        margin-bottom: 2%;
        border: 1px solid darkslategrey;
        padding: 5px;
    }

    .preview {
        margin-top: 4px;
        margin-bottom: 0;
        font-size: 16px;
        padding: 11px;
        border: 1px solid mediumvioletred;
        font-family: "Microsoft YaHei UI";
    }

    .entersToSecondary {
        margin-left: 4%;
        margin-top: 3%;
        margin-bottom: 1%;
        width: 20%;
        border: 1px solid palevioletred;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 1%;
        padding-left: 10%;
        font-size: 20px;
    }

