#backgroundForExtradecomposers {
    background-image: url("../../images/textures/waterdrops.jpg");
}
#backgroundForBlack_agent {
    background-image: url("../../images/textures/texture.jpg");
}
.contentListForExtradecomposers {
    border-color: #345693;
    background-color: rgba(0, 087, 990, 0.30);
    color: darkblue;
}
.contentListForBlack_agent {
    border-color: lightblue;
    background-color: rgba(25, 12, 90, 0.25);
    color: lightsteelblue;
}
.unclickedButton_Extradecomposers_choiced {
    background-color: darkviolet;
    color: lightblue;
}
.unclickedButton_Black_agent_choiced {
    background-color: lightblue;
    color: darkviolet;
}
.paintedReplicsOfAuthor {
    border: 3px dashed darkviolet;
    border-radius: 4px;
    background-image: url("../../images/textures/buket.jpg");
}
.paintedReplicsOfAuthor > h4 {
    color: black;
}
.paintedReplicsOfAuthor > p {
    color: #0B0B61;
}
.paintedReplicsOfHelen {
    background-image: url("../../images/textures/crepuscle.jpg");
    border: 3px solid mediumblue; !important;
    color: lightgrey;
}
.paintedReplicsOfJudy {
    background-image: url("../../images/textures/mist.jpg");
    border: 3px solid mediumblue; !important;
    color: darkblue;
}
.paintedReplicsOfCassandra {
    background-image: url("../../images/textures/ocean.jpg");
    border: 3px solid mediumblue; !important;
    color: darkblue;
}
.paintedReplicsOfCassandra > p {
    color: whitesmoke;
}
.paintedReplicsOfChristian {
    background-image: url("../../images/textures/gold.jpg");
    border: 3px solid saddlebrown; !important;
    color: #61210B;
}
.paintedReplicsOfBeatrix {
    background-image: url("../../images/textures/fony_117.jpg");
    border: 3px solid #0B0B61; !important;
    color: lightcyan;
}
.paintedReplicsOfMrsJakins {
    background-image: url("../../images/textures/pink_paper.jpg");
    border: 3px solid darkblue; !important;
    color: darkviolet;
}
.paintedReplicsOfMr {
    background-color: blue ;
    border: 3px solid darkblue; !important;
    color: lightsteelblue;
}
.paintedReplicsOfJamesMcHein {
    background-color: lightblue;
    border: 3px solid darkblue; !important;
    color: darkslateblue;
}
.paintedReplicsOfWomanDevil {
    background-image: url("../../images/textures/bumaga_texture_101.jpg");
    border: 3px solid firebrick; !important;
    color: black;
}
.paintedReplicsOfTortoiseMale {
    background-color: lightsteelblue;
    border: 3px solid darkblue; !important;
    color: darkblue;
}
.paintedReplicsOfTortoiseFemale {
        background-color: lightpink;
        border: 3px solid darkblue; !important;
        color: firebrick;
    }
.paintedReplicsOfCatfishMale {
    background-color: gray;
    border: 3px solid darkblue; !important;
    color: darkblue;
}
.paintedReplicsOfCatfishFemale {
    background-color: lightgrey;
    border: 3px solid darkblue; !important;
    color: black;
}
.paintedReplicsOfMarineStar {
    background-color: lightblue;
    border: 3px solid darkblue; !important;
    color: blue;
}
.paintedReplicsOfCrab {
    background-color: lightgreen;
    border: 3px solid darkgreen; !important;
    color: green;
}
.paintedReplicsOfLilian {
    background-color: lightblue;
    border: 3px solid darkblue; !important;
    color: darkcyan;
}
.paintedReplicsOfMedusa {
    background-color: lightgrey;
    border: 3px solid darkslategray; !important;
    color: darkslategrey;
}
.paintedReplicsOfTimothy {
    background-color: lightblue;
    border: 3px solid seagreen; !important;
    color: darkgreen;
}
.paintedReplicsOfGloria {
    background-image: url("../../images/textures/gold.jpg");
    color: #61210B;
    border: 3px solid saddlebrown;
}
.paintedReplicsOfQuentin {
    background-image: url("../../images/textures/fioletovyj-fon33.jpg");
    border: 3px solid darkslategray; !important;
    color: lightpink;
}
.paintedReplicsOfSophie {
    background-image: url("../../images/textures/images4.jpg");
    border: 3px solid deeppink; !important;
    color: lightyellow;
}
.paintedReplicsOf1 {
    background-color: lightgreen;
    border: 3px solid seagreen; !important;
    color: darkslategrey;
}
.paintedReplicsOf2 {
    background-color: lightgray;
    border: 3px solid darkslategrey; !important;
    color: darkslategrey;
}
.paintedReplicsOf3 {
    background-color: lightcyan;
    border: 3px solid seagreen; !important;
    color: darkslateblue;
}
.paintedWordsFromVocabulary_Extradecomposers {
    background-color: indigo;
    color: aliceblue;
    padding: 4px;
}
.paintedWordsFromVocabulary_Black_agent {
    background-color: lightgray;
    color: darkslategray;
    padding: 4px;
}
.commonPaint {
    background-image: url("../../images/textures/commonPaint.jpg");
    color: deeppink;
    border: 3px solid darkslateblue;
}