<script type="text/template" id="prime_block">
    <div class="primeTemplate">
        <h2>
            <%=header%>
        </h2>
        <div class="mainPart">
            <div class="image">
                <%=imgOnPrimary%>
            </div>
            <div class="TextAndEnter">
                <p class="preview">
                    <%=preview%>
                </p>
                <div class="entersToSecondary">
                    <a href="#enter_to_secondary">Enter</a>
                </div>
            </div>
        </div>
    </div>
 </script>