section#heroes-filter
    h4
        | Check out heroes which roles you want to read of 
        span ?
    #chapter_filters
        label
            input(type='checkbox', name="Author's words")
            | Author's words
        label
            input(type='checkbox', name='Nick')
            | Nick
        label
            input(type='checkbox', name='Sophie')
            | Sophie
        label
            input(type='checkbox', name="Nick's answer to himself")
            | Nick's answer to himself
        label
            input(type='checkbox', name="Nick's second answer")
            | Nick's second answer
