footer
    a(href='#') Home 
    |      
    a(href='#how_to_use') How to use 
    |      
    a(href='#contacts') Contacts 
    |                 
    a(href='#facebook') Facebook 
script(src='scripts/app.js', data-main='app')