doctype html
html(lang='en')
    head
        //
        include _top-part
        //
    body.nihilistic_parody
        main
            // 
            include _aside-chapters
            //
            #chapter-contents
                // 
                include _chapter-header
                    //
                    include _chapter-home-header-subsection
                    //
                article#text
                    //
                    include _chapters-home-overview
                    //
            aside#parts
                | parts
        // 
        include _footer
