    body {
        background-image: url("../images/textures/waterdrops.jpg");
    }
    #header1 {
        margin-left: 5%;
        margin-right: 46%;
        background-color: azure;
    }
    #header1 > h1 {
        padding: 8px;
        margin-left: 4%;
        color: indigo;
    }
    #contentlist {
        float: left;
        width: 18%;
        border-top: 4px solid #345693;
        border-right: 3px solid #345693;
    }
   .items-paragraphs {
       width: 78%;
       margin-left: 12%;
   }
    #contentlist > h2 {
        margin-left: 1%;
        padding: 6px;
        width: 98%;
    }
    .items-paragraphs > p {
        font-size: 22px;
        font-weight: bold;
        margin-left: 3%;
        width: 95%;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .mouseOnItem1 {
        background-color: indigo;
        color: darkturquoise;
        border: 2px solid skyblue;
    }
    .mouseOnItem2 {
        background-color: maroon;
        color: cornsilk;
        border: 2px solid khaki;
    }
    #roleslist {
        margin-left: 15%;
        width: 55%;
        padding-top: 7px;
        padding-left: 6px;
        margin-bottom: 4%;
        margin-top: 2%;
    }

    #roleslist > strong {
        font-size: 24px;
        margin-left: 5%;
    }
    #roleslist > p {
        font-size: 22px;
        margin-left: 7%;
    }
    #roleslist > p > input {
        height: 18px;
    }
    .labels_for_roles {
        color: darkviolet;
        font-weight: bold;
    }
    #top_of_play {
        overflow: auto;
        width: 94%;
        margin-left: 3%;
        margin-bottom: 1%;
    }
    #top_of_play > h2 {
        width: 66%;
        margin-left: 3%;
        float: left;
    }
    #paintWordsFromVocab {
        border-radius: 8px;
        width: 14px;
        height: 14px;
        float: left;
        margin-left: 3%;
        margin-top: 4%;
        padding: 14px;
        background-color: midnightblue;
        color: powderblue;
        text-decoration: underline;
    }
    #paintreplics {
        margin-bottom: 2%;
        margin-left: 7%;
        background-color: cyan;
        color: darkslateblue;
        font-size: 18px;
        padding: 9px;
    }
    #for_content {
        float: left;
        width: 81%;
        border-top: 4px solid #345693;
    }
    .addStylesForContent {
        border-left: 3px solid #345693;
    }
    #for_content > * {
        margin-left: 3%;
    }
    #for_content > img {
        width: 90%;
        margin-left: 7%;
    }
    #title_of_episode {
        margin-left: 3%;
    }
    #text > h2 {
        margin-left: 7%;
        margin-bottom: 4%;
        font-family: Gadugi;
        font-size: 28px;
    }
    #text > img {
        width: 85%;
        margin-left: 8%;
        margin-bottom: 10px;
    }
    #text > p {
        font-size: 22px;
        font-family: Gadugi;
        margin-left: 4%;
        margin-right: 5%;
    }
    .authorwords {
        font-size: 20px;
        margin-right: 4%;
        margin-left: 3%;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .authorwords > h4 {
        margin-bottom: 6px;
        margin-top: 14px;
        margin-left: 5%;
        font-size: 22px;
    }
    .authorwords > p {
        margin-top: 14px;
        margin-left: 3%;
        margin-right: 10px;
        font-size: 22px;
    }

    .words_of_char {
       margin-right: 4%;
        margin-left: 3%;
        margin-bottom: 2%;
        border: 2px solid;
        border-radius: 7px;
        padding-top: 5px;
    }
    .words_of_char > h4 {
        margin-left: 5%;
        margin-top: 9px;
        margin-bottom: 2%;
        font-size: 22px;
    }
    .words_of_char > p {
        margin-left: 3%;
        margin-right: 2%;
        margin-top: 2%;
        font-size: 22px;
    }
    .paintedWordsFromVocabulary {
        background-color: indigo;
        color: aliceblue;
        padding: 4px;
    }
    #fortypes {
        font-size: 18px;
    }
    .paintedreplicsofchar {
        background-image: url("../images/textures/полотно.jpg");
    }
    .paintedauthorreplics {
        border: 3px dashed darkviolet;
        border-radius: 4px;
        background-image: url("../images/textures/букет.jpg");
    }