// 
include _top-part
//
body.default
    main
        #home
            h1 Hello, Beautiful Stranger!
            h4 Look, what the wonderful stories are waiting for you right here!
            section#asides
                aside.fade.fade-out
                    a(href='#joshua_world')
                        h4 Joshua's Universe
                        p
                            | Sometimes you need some extra time to set up your mind if you feel out of balance.
                aside.fade.fade-out
                    a(href='#nihilistic_parody')
                        h4 Nihilistic parody
                        p
                            | There is one dangerous mad psychopath among the characters. Some of the episodes are parody to "Big
                            | Lebovsky", being inspired by that movie, but, perhaps, with much more serious outcomes for the
                            | personages.
                aside.fade.fade-out
                    a(href='#cabalistic_bewitching_hero')
                        h4 Cabalistic Bewitching Hero
                        p
                            | A story about a creature who had originated as a little cruise mermaid and later became a mysterious
                            | magic superhero. Also, there are 3 girls who were perceived as human being, but then it turned
                            | out that they are the girls-monsters and the omnipotent scientists.
    // 
    include _footer