#asides{
    @media(min-width: $width-mobile){
        display: flex;
        aside{
            width: calc(50% - 10px);
        }
    }
    justify-content: space-between;
    aside{
        $path: '/contents/images/';
        background-size: cover;
        border: solid 4px #ddd;
        height: 0;
        padding-bottom: 50%;
        &:nth-child(1){
            background-image: url($path + 'devil.jpg');
        }
        &:nth-child(2){
            background-image: url($path + 'lighthouse.jpg');
        }
        @media(max-width: ($width-mobile - 1)){
            margin-bottom: $common-offset;
        }
    }
}