#asides{
    @media(min-width: $width-mobile){
        display: flex;
        aside{
            width: calc(50% - 10px);
        }
    }
    justify-content: space-between;
    aside{
        background-position: center;
        background-repeat: no-repeat;
        border: solid 4px #ddd;
        height: 0;
        padding-bottom: 50%;
        
        @mixin goGrow($delay){
            animation-name: grow;
            animation-duration: 1s;
            animation-delay: $delay;
            animation-fill-mode: both;
        }

        @mixin child($image, $delay, $padding-bottom){
            @include goGrow($delay);
            background-image: url('/contents/images/' + $image);
            @media(max-width: ($width-mobile - 1)){
                padding-bottom: $padding-bottom;
            }
        }

        &:nth-child(1){
            @include child('devil.jpg', 0.4s, 96.92%);
            background-size: cover;
        }
        &:nth-child(2){
            @include child('scavenger-1.png', 1s, 100%);
            background-size: contain;
        }
        @media(max-width: ($width-mobile - 1)){
            margin-bottom: $common-offset;
        }
    }
}