#chapters-list-menu{
    &.no-overflow{
        overflow: hidden;
    }
    @mixin menuLink{
        color: white;
        font-family: $header-font-family;
        display: inline-block;
        font-weight: normal;
    }
    margin-top: 8px;
    padding: $common-offset;
    h4{
        &.chapters-overview{
            display: none;
        }
    }
    .chapters-go-home{
        font-size: 22px;
        font-weight: normal;
        margin-top: 0;
        a {
            &:hover{
                text-decoration: none;
            }
            &::before{
                content: '🏡';
                margin-right: 10px;
            }
        }
    }
    p{
        color: white;
        font-weight: bold;
        line-height: 1.75;
        margin: 0;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        >span{
            &.title{
                $offset: 4px;
                background-color: rgba(50, 50, 50, 0.75);
                cursor: pointer;
                @include menuLink;
                margin-left: -$offset;
                margin-top: $offset;
                padding: $offset;
                padding-right: 10px;
                z-index: 2;
            }
        }
    }
    a {
        @include menuLink;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}