#home{
    margin: auto;
    max-width: 690px;
    h1{
        color: rgba(255,255,255,0.95);
        text-align: center;
    }
    h4{
        color: lightgoldenrodyellow;
        text-align: center;
    }
}