$opacity-transparent: 0;
$opacity-solid: 1;
$opacity-translucent: 0.75;
@keyframes grow {
  from {
    transform: scale(0.25);
    opacity: $opacity-transparent; 
  }
  to {
    transform: scale(1);
    opacity: 0.75;
  }
}

@keyframes fadeIn {
  from {
    opacity: $opacity-translucent; 
  }
  to {
    opacity: $opacity-solid;
  }
}
@keyframes fadeOut {
  from {
    opacity: $opacity-solid; 
  }
  to {
    opacity: $opacity-translucent;
  }
}