
*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    min-height: 100%;
    padding: 0;
}

body{
    &:after{
        background-image: url('../contents/images/bg-storm-nature.jpg');
        background-size: cover;
        content: '';
        opacity: 0.85;
        position: fixed;
        top:0;
        right: 0;
        bottom:0;
        left:0;
        z-index: -1;
    }
}

h1, h2, h3, h4, h5, h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main, footer{
    max-width: $max-width-main;
    position: relative;
    @media (min-width: $width-mobile){
        margin: auto;
    }
    @media (max-width: ($width-tablet - 1)){
        padding-left: $common-offset;
        padding-right: $common-offset;
    }
}

footer{
    background: rgba(102, 102, 102, 0.4);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    height: $height-footer;
    text-align: center;
    // padding-top: $common-offset;
}
main{
    min-height: calc(100% - #{$height-footer});
}