
*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Times New Roman', serif;
}

main, footer{
    max-width: $max-width-main;
    @media (min-width: $width-mobile){
        margin: auto;
    }
    @media (max-width: ($width-tablet - 1)){
        padding-left: $common-offset;
        padding-right: $common-offset;
    }
}

footer{
    background: #ccc;
    height: $height-footer;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: $common-offset;
}
main{
    overflow: hidden;
    min-height: calc(100% - #{$height-footer});
}